[Unit]
Description=ASP.NET Core Application - {{ item.name }}
After=network.target

[Service]
WorkingDirectory={{ item.publish_dir }}
ExecStart=/usr/bin/dotnet {{ item.publish_dir }}/{{ item.dll_name }}
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier={{ item.name }}
User={{ app_user }}
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
Environment=ASPNETCORE_URLS=http://0.0.0.0:{{ item.port }}

[Install]
WantedBy=multi-user.target